/.vscode/
/utils/__pycache__
/client/__pycache__
/etc/correctness/*.out
/etc/correctness/*.csv
/etc/correctness/*.xlsx
/switch/log/*
/switch/p4src/ecmp.p4i
/switch/p4src/ecmp.json
/switch/topology.db
/switch/pcap/*
/client
/switch/switch_log/*