.DS_Store
.DS_Store?
*.swp
*.pyc

*.7z
*.rar
*.tar
*.zip

*.log
*.dat
*.o

/.vscode/
/.idea/
/utils/__pycache__
/correctness_verification/*.out
/correctness_verification/*.csv
/correctness_verification/*.xlsx
/correctness_verification/*.txt

/client/client_flowsize/host.config

/switch/switch_log/*
/switch/router.log

/switch/p4src_flowsize/log/*
/switch/p4src_flowsize/pcap/*
/switch/p4src_flowsize/ecmp.p4i
/switch/p4src_flowsize/ecmp.json
/switch/p4src_flowsize/ecmp_priority.p4i
/switch/p4src_flowsize/ecmp_priority.json
/switch/p4src_flowsize/topology.db


/switch/p4src_interval/log/*
/switch/p4src_interval/pcap/*
/switch/p4src_interval/ecmp.p4i
/switch/p4src_interval/ecmp.json
/switch/p4src_interval/ecmp_priority.p4i
/switch/p4src_interval/ecmp_priority.json
/switch/p4src_interval/topology.db

/exp/log/*
/exp/trace/*
/exp/switch_log*
/exp/download_sketch
/exp/plt/*
/exp/switch/benchmark
/exp/note.txt
/exp/__pycache__
!/exp/plt/plt_notebook.ipynb
