/.vscode/
/utils/__pycache__
/client/__pycache__
/etc/correctness/*.out
/etc/correctness/*.csv
/etc/correctness/*.xlsx

/switch/switch_log/*
/switch/router.log

/switch/p4src_flowsize/log/*
/switch/p4src_flowsize/pcap/*
/switch/p4src_flowsize/ecmp.p4i
/switch/p4src_flowsize/ecmp.json
/switch/p4src_flowsize/topology.db


/switch/p4src_interval/log/*
/switch/p4src_interval/pcap/*
/switch/p4src_interval/ecmp.p4i
/switch/p4src_interval/ecmp.json
/switch/p4src_interval/topology.db
